<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header">
        <p>This is default header area for default layout</p>
    </header>
    <section id="content" layout:fragment="content">
        <p>This is default main content with default layout</p>
    </section>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script xml:space="preserve" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
