<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/default" ng-app="">
<head>
    <meta charset="UTF-8"/>
    <title>Listings</title>
</head>
<body>
<section layout:fragment="content">
    <content ng-controller="appController">
        <div ng-init="Init()"></div>

        <div class="search">
            <div class="search-box">
                <input type="text" ng-model="searchText" placeholder="Search..." class="input-search"/>
            </div>
            <div class="search-button" ng-click="ButtonClick(searchText)">
                Search
            </div>
        </div>
        <div class="results">
            <ul class="result-list">
                <li ng-repeat="product in products.result.content">
                    <a href="product-detail?id={{product.id}}">{{product.title}}</a>
                </li>
            </ul>
        </div>
    </content>
</section>
</body>
</html>