<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/default">
<head>
    <meta charset="UTF-8"/>
    <title>Product Detail</title>
</head>
<body>
<section layout:fragment="content">
    <div class="products">
        <div class="product-item">
            <div class="product-item-title" th:text="'Product Name : ' + ${product.title}"></div>
        </div>
        <div class="product-item" th:each="info : ${infoList}">
            <div class="product-item-title" th:text="'URL : ' + ${info.url}"></div>
            <div class="product-item-title" th:text="${info.category}"></div>
            <a th:href="'graphic?id='+${info.id}" class="graph-button">Show Graphic</a>
        </div>
    </div>
</section>
</body>
</html>