<header class="header" layout:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="header">
        <h1>Cimri Challenge Application</h1>
    </div>
</header>