html * {
  padding: 0px;
  margin: 0px;
}

html {
  background-color: #efefef;
}

body {
  max-width: 1000px;
  margin: 1px auto;
  font-family: "Helvetica";
  font-size:14px;
}

.header {
  min-height: 50px;
  padding: 30px;
  background-color: #2da0f1;
  color: white;
}

input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.input-search {
  width: 800px;
  height: 39px;
  border: 0.5px auto #ffcc;
  outline: 0;
  color: #545454;
  font-size: 16px;
  padding: 0 20px 0 20px;
  float: left;
  font-weight: bold;
}

.search {
  display: block;
  width: 100%;
  float: left;
}

.search-box {
  float: left;
  display: block;
}
.search-button {
  width: 156px;
  height: 43px;
  display: block;
  float: left;
  color: #FFF;
  text-align: center;
  line-height: 39px;
  background: #1979bf;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.results {
  display: block;
  margin-top: 50px;
  min-height: 50px;
}

.products {
  display: block;
  margin-top: 10px;
  min-height: 50px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 21px;
  background: #f6f6f6;
}

.product-item {
  display: inline-block;
  background-color: red;
  width: 100%;
  font-size: 18px;
  height: 74px;
  background: white;
}

.product-item .product-item-title {
  float: left;
  display: block;
  vertical-align: middle;
  line-height: 74px;       /* the same as your div height */
  padding-left: 30px;
}

.product-item .graph-button {
  float: right;
  display: block;
  margin-top: 13px;
  margin-right: 10px;
  padding: 10px;
    height: 28px;
    background-color: #fd9530;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    cursor: pointer;
}
